/**
 Importation des polices
**/
@import "./../static/fonts/Raleway-Regular";
@import "./../static/fonts/LobsterTwo-Regular";


/////

// Définition des polices
$font-primary: 'Raleway';
$font-secondary: 'Lobster';

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big : 20px;

// Définition des couleurs
$color-back-primary : #ffffff;
$color-back-secondary : #e3dfd6;

$color-front-peach: #FDC279;
$color-front-avocado: #DED479;
$color-front-straw: #F3B1A6;

$color-text-primary: #191d1c;
$color-text-secondary: #f2f4f3;

$space-small: 8px;
$space-normal: 20px;
$space-big: 40px;

$border-small: 1px dottted $color-front-peach;
$border-normal: 1px solid rgba(#cccccc, 0.3);
$border-big : 5px dotted $color-front-peach;

$shadow: 0px 0px 5px 5px rgba(#cccccc, 0.2);