/**
 Importation des polices
**/
@import "./../static/fonts/Raleway-Regular";
@import "./../static/fonts/LobsterTwo-Regular";


/////

// Définition des polices
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Lobster';

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-big : 30px;

// Définition des couleurs
$color-back-primary : #07C4C3;
$color-back-secondary : #0489AA;
$color-back-third : #000000;

$color-front-peach: #FDC279;
$color-front-avocado: #DED479;
$color-front-straw: #F3B1A6;

$color-text-primary: #ffffff;
$color-text-secondary: $color-back-primary;

$space-small: 8px;
$space-normal: 23px;
$space-big: 40px;

$border-small: 1px dottted $color-front-peach;
$border-normal: 1px solid rgba(#cccccc, 0.3);
$border-big : 5px dotted $color-front-peach;

$shadow: 0px 0px 10px 5px rgba(#313139, 0.1);