app-me
{
  display: block;
  width: 100%;

  position: relative;

  z-index: 1;

  padding-top: $space-big;


  &>div.presentation
  {
    display: block;
    width: 70%;


    margin: auto;


    h1
    {
      text-align: center;
      margin-bottom: 0;
    }

    hr
    {
      border: 1px solid white;
      margin-top: $space-normal;
    }

    span
    {
      display: block;
      text-align: center;
    }

    p
    {
      padding: $space-normal;
      line-height: 26px;
      text-align: justify;
    }

  }

  &>div.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    //background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/19424185_1338370809604439_7754331859132391295_n.jpg?oh=8b847ced9cdd899f99b098769e03e52f&oe=5A148104");
    background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/1146781_704831796199170_1482179578_o.jpg?oh=38124b715b8836baa4aa04180422e186&oe=5A12EEAC");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: 0px -5px 10px 10px rgba(0,0,0,0.4);


    &::before {
      opacity: 0.7;
      background: linear-gradient($color-back-primary, $color-back-secondary);

      content: "";
      display: block;
      width: 100%;
      height: 100%;

      background-size: cover;
      background-position: center;
    }
  }
}
