@charset "UTF-8";
/**
 Importation des polices
**/
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/JosefinSans-Regular.ttf"); }

@font-face {
  font-family: "Lobster";
  src: url("/static/fonts/JosefinSlab-Regular.ttf"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 Importation des polices
**/
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/JosefinSans-Regular.ttf"); }

@font-face {
  font-family: "Lobster";
  src: url("/static/fonts/JosefinSlab-Regular.ttf"); }

.invisible {
  display: none !important; }

div#app {
  min-height: 100%; }

div.title {
  margin: auto;
  margin-top: 23px;
  width: 60%;
  color: #323232; }
  div.title h1 {
    margin-bottom: 0;
    text-align: center;
    color: #323232; }
  div.title hr {
    border: 1px solid #323232; }

@keyframes loading {
  0% {
    left: -300px;
    background-color: #FDC279; }
  50% {
    left: 150%;
    background-color: #F3B1A6; }
  100% {
    left: -300px;
    background-color: #FDC279; } }

div#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5); }
  div#loading:before {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FDC279;
    animation: loading 2s infinite; }

div#popup {
  box-sizing: border-box;
  position: fixed;
  min-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8373b5;
  border-radius: 2px;
  z-index: 1;
  border: 1px solid #FDC279;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  padding: 23px;
  padding-top: 63px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%; }
  div#popup::after {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    content: attr(data-name);
    font-family: "Raleway", sans-serif;
    padding: 8px;
    font-size: 30px;
    background-color: #FDC279;
    color: #8373b5; }
  div#popup div.close {
    content: "🞩";
    display: inline-block;
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 30px;
    text-align: right;
    padding-top: 8px;
    padding-right: 8px;
    color: #8373b5;
    cursor: pointer; }

div#hidder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

h1 {
  font-size: 30px;
  font-family: "Lobster";
  margin-bottom: 23px;
  padding: 8px;
  padding-left: 0; }

h2 {
  font-family: "Lobster";
  font-size: 30px;
  margin-bottom: 23px; }

section {
  border-bottom: 2px dotted #F3B1A6;
  margin-bottom: 23px; }

table {
  table-layout: fixed;
  width: 100%; }
  table tr {
    border-bottom: 1px dotted black; }
  table.dark tr {
    border-bottom: 1px dotted white; }
  table.dark a {
    color: #323232; }
  table tr:last-of-type {
    border: 0; }
  table td {
    font-family: "Raleway", sans-serif;
    padding: 8px; }
  table td:last-of-type {
    text-align: right; }

img.profile {
  border-radius: 100%;
  width: 75px;
  height: 75px; }

.price {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #FDC279;
  color: #8373b5;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  margin-left: 8px; }

p {
  font-family: "Raleway", sans-serif; }

/** Importation des styles des tags **/
app-header {
  display: block;
  padding: 23px; }
  app-header h1 {
    margin-bottom: 0; }

app-footer {
  display: block;
  margin-top: 23px;
  text-align: center; }

app-me {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 40px; }
  app-me > div.presentation {
    display: block;
    width: 70%;
    margin: auto; }
    app-me > div.presentation h1 {
      text-align: center;
      margin-bottom: 0; }
    app-me > div.presentation hr {
      border: 1px solid white;
      margin-top: 23px; }
    app-me > div.presentation span {
      display: block;
      text-align: center; }
    app-me > div.presentation p {
      padding: 23px;
      line-height: 26px;
      text-align: justify; }
    app-me > div.presentation iframe {
      float: left; }
  app-me > div.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/1146781_704831796199170_1482179578_o.jpg?oh=38124b715b8836baa4aa04180422e186&oe=5A12EEAC");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px -5px 10px 10px rgba(0, 0, 0, 0.4); }
    app-me > div.background::before {
      opacity: 0.7;
      background: linear-gradient(#8373b5, #91425f);
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center; }

app-projectitem {
  display: inline-block;
  position: relative;
  width: 320px;
  height: 400px;
  overflow: hidden;
  border: 1px solid rgba(110, 92, 169, 0.2);
  margin: 23px;
  box-shadow: 0px 0px 10px 5px rgba(49, 49, 57, 0.1);
  clear: both;
  transition: 0.1s all ease;
  cursor: pointer;
  background: linear-gradient(#8373b5, #91425f);
  border-width: 3px;
  border-style: solid;
  -webkit-border-image: -webkit-linear-gradient(#8373b5, #91425f) 1 100%;
  -moz-border-image: -moz-linear-gradient(#8373b5, #91425f) 1 100%;
  -o-border-image: -o-linear-gradient(#8373b5, #91425f) 1 100%;
  border-image: linear-gradient(to bottom, #8373b5, #91425f) 1 100%;
  border-top: 0;
  border-bottom: 0; }
  app-projectitem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #8373b5; }
  app-projectitem::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #91425f; }
  app-projectitem a {
    text-decoration: none; }
  app-projectitem:hover {
    transform: scale(1.1, 1.1); }
  app-projectitem p.description {
    display: none;
    text-decoration: none; }
  app-projectitem p.resume {
    display: block;
    min-height: 100px;
    text-decoration: none; }
  app-projectitem.expand {
    width: 95%;
    margin: auto;
    margin-bottom: 63px;
    height: auto;
    overflow: initial;
    position: relative; }
    app-projectitem.expand:hover {
      transform: scale(1, 1); }
    app-projectitem.expand p.description {
      display: block;
      text-align: center; }
    app-projectitem.expand p.resume {
      display: none; }
    app-projectitem.expand div.img {
      background-size: 0;
      position: relative;
      overflow: hidden; }
      app-projectitem.expand div.img div {
        display: inline-block;
        opacity: 1;
        margin: 23px; }
      app-projectitem.expand div.img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: inherit;
        filter: blur(15px);
        z-index: -1; }
  app-projectitem h2 {
    padding: 23px;
    margin-bottom: 0;
    text-decoration: none;
    line-height: 30px; }
  app-projectitem div.img {
    width: 100%;
    min-height: 200px;
    background-size: cover;
    transition: 0.2s all ease;
    text-align: center; }
    app-projectitem div.img div {
      display: none;
      opacity: 0;
      width: 200px;
      height: 200px;
      transition: all 0.2s ease;
      background-size: cover;
      background-position: center;
      border-radius: 2px; }
  app-projectitem div.content {
    padding: 23px;
    background-size: 0;
    position: relative;
    z-index: 1; }
    app-projectitem div.content nav a {
      text-decoration: underline; }
    app-projectitem div.content p {
      text-align: justify;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 23px; }

app-projects {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 23px; }

html, body {
  height: 100%;
  overflow-x: hidden; }

* {
  box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  z-index: 0;
  line-height: 19px; }

div.vertical-center {
  display: table; }
  div.vertical-center > * {
    display: table-cell;
    vertical-align: middle; }
